<main>
    <section class="payment">
        <h2>Detalles del pago</h2>
        <form action="" (submit)="onSubmit()" [formGroup]="paymentDetails">
            <div class="formGroup">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" formControlName="name">
            </div>
            <div class="formGroup">
                <label for="address">Address</label>
                <input type="text" name="address" id="address" formControlName="address">
            </div>
            <div class="formGroup">
                <label for="NumberCard">Card Number</label>
                <input type="text" name="NumberCard" id="NumberCard" formControlName="NumberCard">
            </div>
            <div class="formGroup">
                <label for="paymentMethod">Payment Method</label>
                <select name="paymentMethod" id="paymentMethod" formControlName="paymentMethod">
                    <option value="paypal">PayPal</option>
                    <option value="credit-card">Tarjeta de crédito</option>
                </select>
            </div>
            <button type="submit">Realizar compra</button>
        </form>
    </section>

</main>