
    <div class="background"></div>
    <p>running</p>
    <div class="card-container">
        <div *ngFor="let articulos of runningItems" class="card">
            <img [src]="articulos.imageUrl" alt="{{ articulos.name }}" class="card-img">
            <div class="card-content">
              <h2>{{ articulos.name }}</h2>
              <p>Price: {{ articulos.price }}</p>
              <div class="add-Cart">
                <a [routerLink]="['/detail/', articulos._id]" class="btn">Details</a>
                <button class="btn" (click)="addToCart(articulos)">Add to Cart</button>
              </div>
            </div>
</div>

