<div *ngIf="products$ | async" class="card-container">
  <div *ngFor="let product of products$ | async" class="card">
    <img [src]="product.imageUrl" alt="{{ product.name }}" class="card-img">
    <div class="card-content">
      <h2>{{ product.name }}</h2>
      <p>Price: {{ product.price }}</p>
      <div class="add-Cart">
        <a [routerLink]="['/detail/', product._id]" class="btn">Details</a>
        <button class="btn" (click)="addToCart(product)">Add to Cart</button>
      </div>
      
    </div>
  </div>
</div>
<ng-template #noProducts>
  <p>No products available.</p>
</ng-template>