<!-- <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">All Products</span></h2>

  <div class="row px-xl-5">
    
      
        @for(product of products(); track product) {
          <a [routerLink]="['/detail/', product.id]">
            <app-schema-products
              [name]="product.name"
              [price]="product.price"
              
              [imageUrl]="product.imageUrl"
              
            />
          </a>
        }
     
   
  </div> -->

<!-- [description]="product.description"
[featured]="product.featured" -->
<div *ngIf="products.length > 0; else noProducts" class="card-container">
  <div *ngFor="let product of products" class="card">
    <img [src]="product.imageUrl" alt="{{ product.name }}" class="card-img">
    <div class="card-content">
      <h2>{{ product.name }}</h2>
      <p>Price: {{ product.price }}</p>
      <div class="add-Cart">
        <a [routerLink]="['/detail/', product._id]" class="btn">Details</a>
        <button class="btn" (click)="addToCart(product)">Add to Cart</button>
      </div>
      
    </div>
  </div>
</div>
<ng-template #noProducts>
  <p>No products available.</p>
</ng-template>